{% extends "layout.html" %}
{% block content %}
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <br>
  <h1>Top News</h1>
  <br>
  <p>FOX NEWS:</p>
  <section class="bigbox">
      {% for news in fox_list %}
      <div class="box">
        <a href="{{ news[1] }}" style="color:#999;">{{ news[0] }}</a>
      </div>
      {% endfor %}
  </section>
  <br>
  <p>NBC NEWS:</p>
  <section class="bigbox">
      {% for news in nbc_list %}
      <div class="box">
        <a href="{{ news[1] }}" style="color:#999;">{{ news[0] }}</a>
      </div>
      {% endfor %}
  </section>
  <br>
  <p>WASHINGTON POST NEWS:</p>
  <section class="bigbox">
      {% for news in nbc_list %}
      <div class="box">
        <a href="{{ news[1] }}" style="color:#999;">{{ news[0] }}</a>
      </div>
      {% endfor %}
  </section>
</html>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}