{% extends "layout.html" %}
{% block content %}
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <h3> Coronavirous </h3>
  <br>
  <p>FOX NEWS:</p>
  <section class="bigbox">
      {% for n in fox_list %}
      <div class="box">
        <a href="{{ n[1] }}" style="color:#999;">{{ n[0] }}</a>
      </div>
      {% endfor %}
  </section>
  <br>
  <p>NBC NEWS:</p>
  <section class="bigbox">
      {% for n in nbc_list %}
      <div class="box">
        <a href="{{ n[1] }}" style="color:#999;">{{ n[0] }}</a>
      </div>
      {% endfor %}
  </section>
  <br>
  <p>WASHINGTON NEWS:</p>
  <section class="bigbox">
      {% for n in nbc_list %}
      <div class="box">
        <a href="{{ n[1] }}" style="color:#999;">{{ n[0] }}</a>
      </div>
      {% endfor %}
  </section>
</html>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}